In [1]:
import pandas as pd

c:\Users\hamin\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
print(pd.__version__)

2.2.2

In [3]:
%time df = pd.read_csv('house_price_prediction.csv')

CPU times: total: 609 ms
Wall time: 916 ms

In [4]:
%time df.isnull()

CPU times: total: 93.8 ms
Wall time: 116 ms

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...
904961,False,False,False,True,False,False,False,True,False,False
904962,False,False,False,True,False,False,False,False,True,False
904963,False,True,False,True,False,False,False,True,True,False
904964,False,False,False,True,False,False,False,True,True,False
904965,False,False,False,True,False,False,False,False,False,False