In [31]:
# importing sweetviz
import sweetviz as sv
import pandas as pd

In [32]:
df = pd.read_csv(r"ba_booking_data.csv",  encoding='latin-1', index_col=None)

In [33]:
df.head()

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete
0,2,Internet,RoundTrip,262,19,7,Sat,AKLDEL,New Zealand,1,0,0,5.52,0
1,1,Internet,RoundTrip,112,20,3,Sat,AKLDEL,New Zealand,0,0,0,5.52,0
2,2,Internet,RoundTrip,243,22,17,Wed,AKLDEL,India,1,1,0,5.52,0
3,1,Internet,RoundTrip,96,31,4,Sat,AKLDEL,New Zealand,0,0,1,5.52,0
4,2,Internet,RoundTrip,68,22,15,Wed,AKLDEL,India,1,0,1,5.52,0

In [34]:
#analyzing the dataset
ba_booking_report = sv.analyze(df)
#display the report
ba_booking_report.show_html('booking.html')

                                             |          | [  0%]   00:00 -> (? left)

Report booking.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [35]:
top_100_df = df.head(100)
botom_100_df = df.tail(100)

In [36]:
compare_df = sv.compare(top_100_df, botom_100_df)
compare_df.show_html('Compare.html')

                                             |          | [  0%]   00:00 -> (? left)

Report Compare.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.